%section#commons
	%h2= @profile.full_name
	%section.col-left
		%header
			=icon_for_profile(@profile, 'small')
			%p 
				= I18n.t('tog_social.profiles.model.username')
				= @profile.user.login
	%br.clearfloat
	- if current_user
		- form_for :shared_object, @shared_object, :url => member_create_shared_object_path(@profile.user.groups.first.id), :html => {:method => "post"} do |f|
			%fieldset
				%h3
					Share, New Post 
					%span.heading-explanatory - message, blog, link etc.
				%p
					= f.text_area :content, :class=>"fieldbox", :style=>"width:450px; height:100px;"
					%br
					= submit_tag 'Share this!', :class => 'button'
					Or 
					= link_to 'Create using full editor', member_new_shared_object_path(@profile.user.groups.first.id)
	- else
		%section.notice_main
			%p
				%h3
					= link_to(I18n.t("tog_core.views.shared.header_options.login"), login_path) + ' to post something here'
   
	-for sharing in @sharings
		%article
			%header{:id=>"sharing_"+ sharing.id.to_s}
				= render :partial => '/shared/shared_object_properties_actions', :locals => {:sharing => sharing, :profile => @profile}
			= render :partial => '/shared/shared_object_content', :locals => {:sharing => sharing}

-content_for :sidebar do
	%aside.sidebar
		%section
			=render :partial => 'profile_summary'


