%section#commons
	%section.col_left
		%h5 
			= I18n.t('tog_user.sessions.new')
			%span.heading-explanatory
				Or
				= link_to "Sign up", signup_path

		- form_tag session_path do
			%p
			- if Tog::Config["plugins.tog_user.email_as_login"]
				%label{:for=>"login"}
					= I18n.t("tog_user.sessions.email")
			- else
				%label{:for=>"login"}
					= I18n.t("tog_user.sessions.login")		
				= text_field_tag 'login', nil, :class => "fieldbox", :size => 30
		
			%p
				%label{:for=>"password"}
					= I18n.t("tog_user.sessions.password")
				= password_field_tag 'password', nil, :class => "fieldbox", :size => 30
			
			%ul
				%li
					= check_box_tag 'remember_me'
					%label{:for=>"remember_me"}
						= I18n.t("tog_user.sessions.remember_me")
				%li.last
					= link_to "#{I18n.t('tog_user.sessions.password_forgotten')}", forgot_path
		
			= submit_tag I18n.t('tog_user.sessions.sign_in'), :class => "button"
		
	
	%section.col_right
		%h5
			Or 
			%span.heading-explanatory login with Twitter
			%p
				= link_to image_tag('/images/federated_login/twitter-bird.png'), {:controller =>:oauth_consumers, :action=>:show,  :id=>:twitter}, {:class=>"twitter", :title=>"Login with Twitter"}
