%section#commons
	%h2= I18n.t('tog_social.groups.member.edit_group', :group => @group.name)
	= error_messages_for :group
	-form_for(@group, :url => member_group_path(@group), :html => { :multipart => true, :method => :put}) do |f|
		%fieldset
			%p
				%label{:for=>"group_name"}= I18n.t('tog_social.groups.model.name')
				%br
				= f.text_field  :name, :class => 'fieldbox wide'
			%p
				%label{:for=>"group_description"}= I18n.t('tog_social.groups.model.description')
				%br
				= f.text_area  :description, :class => 'fieldbox wide', :size => '60x10'
			%p
				%label{:for=>"group_tag_list"}= I18n.t('tog_social.tags.tags')
				%br
				= f.text_field  :tag_list, :class => 'fieldbox'
				%br
				%span.helpinfo= I18n.t('tog_social.tags.separated_by_comma')
			%p
				%label{:for=>"group_image"}= I18n.t('tog_social.groups.model.image')
				%br
				= image_for_group(@group, 'medium')
				= file_field "group", "image"
				%br
				%span.helpinfo= I18n.t('tog_social.groups.model.image_help')
			%p
				%label.nolabel{:for=>"group_private"}
					= f.check_box :private
					= I18n.t('tog_social.groups.model.private')
				%br
				%span.helpinfo= I18n.t('tog_social.groups.model.private_help')
			%p
				%label.nolabel{:for=>"group_moderated"}
				= f.check_box :moderated
				= I18n.t('tog_social.groups.model.moderated')
				%br
				%span.helpinfo= I18n.t('tog_social.groups.model.moderated_help')
		
		= f.submit I18n.t('tog_social.groups.member.update'),:class=>"button"
		