%section#commons
	%section.col-left
		%header
			=link_to image_for_group(@group, 'medium', :class=>"img"), group_path(@group)
			%h3= link_to @group.name, group_path(@group)
			%p 
				= I18n.t('tog_social.groups.model.created_at') + @group.created_at.strftime("%d/%m/%Y") 
				%br 
				= I18n.t('tog_social.groups.model.members', :count => @group.members.size)
				%br
				= I18n.t('tog_social.groups.model.moderated_by')
				- for moderator in @group.moderators
					=link_to moderator.profile.full_name, profile_path(moderator.profile), :class=> 'maincolor4'				
	%br.clearfloat
	%p= @group.description

	-if current_user and @group.members.include?(current_user)
		- form_for :shared_object, @shared_object, :url => member_create_shared_object_path(@group.id), :html => {:method => "post"} do |f|
			%fieldset
				%h3
					Share, New Post 
					%span.heading-explanatory - message, blog, link etc.
				%p
					= f.text_area :content, :class=>"fieldbox", :style=>"width:450px; height:100px;"
					%br
					= submit_tag 'Share this!', :class => 'button'
					Or 
					= link_to 'Create using full editor', member_new_shared_object_path(@group.id)
	-elsif current_user
		%section.notice-main
			%p
				%h3
					=  link_to(I18n.t('tog_social.groups.site.join'), join_group_path(@group)) + ' to post something here'
					
	-for sharing in @sharings
		%article
			%header{:id=>"sharing_"+ sharing.id.to_s}
				= render :partial => '/shared/shared_object_properties_actions', :locals => {:sharing => sharing, :profile => @profile}
			
			%section
				-if !sharing.shareable.title.blank?
					-h3= link_to sharing.shareable.title, shared_object_path(sharing.shareable.id)
				= sanitize(textilize(sharing.shareable.content[0..500]), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_attributes').split)
				= link_to("More..",  shared_object_path(sharing.shareable.id)) unless sharing.shareable.content.size < 500

-content_for :sidebar do
	%aside.sidebar
		%section
			%h3= I18n.t('tog_social.more_links')
			%ul
			- if i_am_member_of @group
				%li= I18n.t('tog_social.groups.site.member')
				%br
				= link_to(I18n.t('tog_social.groups.site.leave'), leave_group_path(@group), :confirm => I18n.t('tog_social.groups.site.leave_confirm'), :class => 'delete')
				-if i_am_moderator_of @group
					%br
					= link_to I18n.t('tog_social.groups.member.edit'), edit_member_group_path(@group)
					%br
					= link_to I18n.t('tog_social.groups.member.members_pending', :size => @group.pending_members.size), member_group_pending_members_path(@group)
			- else
				%li= link_to I18n.t('tog_social.groups.site.join'), join_group_path(@group), :class => 'add'
		
		%section
			= render :partial => "shared/profiles_listing", :locals => {:items => @group.members.collect(&:profile), :title => I18n.t('tog_social.groups.model.members', :count => @group.members.size), :no_items => I18n.t('tog_social.groups.model.members_not_found', :group_name => @group.name) }