%p.meta.info_pane
	From 
	= link_to sharing.shareable.user.profile.full_name, '/'+sharing.shareable.user.login
	about 
	= time_ago_in_words(sharing.created_at)
	ago - 
	= I18n.l(sharing.created_at, :format => :short)

	- if current_user == sharing.shareable.user
		= link_to "Edit", edit_member_shared_object_path(sharing.shareable.id)
		|
		= link_to 'Share', member_share_existing_shared_object_path(sharing.shareable.id)
	- if current_user == sharing.shareable.user
		|
		= link_to "Delete", member_delete_shared_object_path(sharing.shared_to.id,sharing.shareable.id,:all), :method => :post
	- elsif current_user == sharing.shared_to.author || sharing.shared_to.moderators.include?(current_user)
		|
		= link_to "Delete", member_delete_shared_object_path(sharing.shared_to.id,sharing.shareable.id,:sharing), :method => :post

	|
	= link_to 'Link', shared_object_path(sharing.shareable.id)
		
	- if sharing.shareable.state == "draft" && current_user == sharing.shareable.user 
		%br 
		Draft version only you can see this
		= link_to "Make public", member_publish_shared_object_path(sharing.shareable.id)
		
	
		
	